@font-face {
  font-family: 'TT Lakes';
  src: url("../fonts/TTLakes-Regular.woff2") format("woff2"), url("../fonts/TTLakes-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT Lakes';
  src: url("../fonts/TTLakes-Medium.woff2") format("woff2"), url("../fonts/TTLakes-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT Lakes';
  src: url("../fonts/TTLakes-Bold.woff2") format("woff2"), url("../fonts/TTLakes-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

html,
body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'TT Lakes';
  font-size: 16px;
  background-color: #f2f2f2;
  min-height: 100vh;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #7E7E82;
}

a:active {
  -webkit-tap-highlight-color: transparent;
}

button {
  border: none;
  cursor: pointer;
  background: transparent;
}

.wrapper__menu {
  min-height: 764px;
  height: 100vh;
  max-width: 320px;
  background-color: #fff;
  -webkit-box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02), 16px 0px 52px rgba(14, 24, 80, 0.2);
          box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02), 16px 0px 52px rgba(14, 24, 80, 0.2);
}

.overlay {
  position: absolute;
  min-width: 100vw;
  min-height: 100vh;
  background-color: rgba(242, 242, 242, 0.1);
  -webkit-filter: blur(5px);
          filter: blur(5px);
  z-index: -1;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 90%;
  margin: 0 auto;
  background-color: #fff;
  height: 100%;
  max-height: 1000px;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.333333%;
          flex: 1 1 33.333333%;
}

.header {
  margin-top: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 17px;
          column-gap: 17px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.icon {
  -webkit-transition-duration: 0.2s;
       -o-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

.icon:hover {
  -webkit-filter: drop-shadow(0px 0px 5px #FF3E78);
          filter: drop-shadow(0px 0px 5px #FF3E78);
}

.nav {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.nav__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 12.5%;
          flex: 1 1 12.5%;
  height: 450px;
}

.nav__item--active {
  display: inline-block;
  position: relative;
}

.nav__item--active::before {
  content: "";
  background-image: url("../icons/hover__icon.svg");
  position: absolute;
  width: 4px;
  height: 32px;
  left: -16px;
  top: -5px;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  opacity: 1;
  -webkit-transition-duration: 0.1s;
       -o-transition-duration: 0.1s;
          transition-duration: 0.1s;
}

.nav__item--active .nav__link {
  opacity: 0.6;
}

.nav__link {
  display: block;
  color: #1B1C21;
  font-weight: 500;
  -webkit-transition-duration: 0.2s;
       -o-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

.nav__link:hover {
  opacity: 0.6;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  row-gap: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 40px;
}

.footer__feedback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 196px;
  row-gap: 16px;
}

.actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 16px;
          column-gap: 16px;
}

.footer__mail {
  font-family: 'TT Lakes';
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  font-weight: 500;
  color: #1B1C21;
}

.footer__tel {
  font-family: 'TT Lakes';
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  color: #1B1C21;
  letter-spacing: -0.6px;
}

.language {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 7px;
          column-gap: 7px;
}

.language__item {
  text-transform: uppercase;
  font-family: 'TT Lakes';
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  font-weight: 500;
  color: #1B1C21;
  -webkit-transition-duration: 0.1s;
       -o-transition-duration: 0.1s;
          transition-duration: 0.1s;
}

.language__item:hover {
  -webkit-transform: scale(0.98);
      -ms-transform: scale(0.98);
          transform: scale(0.98);
  opacity: 0.6;
}

.language__item--active {
  opacity: 0.6;
}
