@import '_fonts';

html,
body {
    box-sizing: border-box;
    font-family: 'TT Lakes';
    font-size: 16px;
    background-color: rgb(242, 242, 242);
    min-height: 100vh;
    
}


*, *::before, *::after {
    box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #7E7E82;

    &:active {
        -webkit-tap-highlight-color: transparent;
        
    }
}



button {
    border: none;
    cursor: pointer;
    background:transparent;
}

.wrapper__menu {
    min-height: 100vh;
    max-width: 320px;
    background-color: #fff;
    box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02),
    16px 0px 52px rgba(14, 24, 80, 0.2);
    
}


//=========================================================
.overlay {
    position: absolute;
    min-width: 100vw;
    min-height: 100vh;
    background-color: rgba(242, 242, 242, 0.100);
    filter: blur(5px);
    z-index: -1;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 90%;
    margin: 0 auto;
    background-color: #fff;
    height: 100%;
    max-height: 1000px;
}

.main {
    flex: 1 1 33.333333%;
}

.header {
    margin-top: 18px;
    display: flex;
    align-items: center;
}

.header__columns {
    display: flex;
    column-gap: 17px;
    flex: 1 0 auto;
}


.icon {
    transition-duration: 0.2s;
    &:hover {
        filter: drop-shadow(0px 0px 5px #FF3E78);
    }
}


.nav {
    flex-grow: 1;
}

.nav__items {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex: 1 1 12.5%;
    height: 450px;
}


.nav__item--active {
    display: inline-block;
    position: relative;

    &::before {
        content: "";
        background-image: url("../icons/hover__icon.svg");
        position: absolute;
        width: 4px;
        height: 32px;
        left: -16px;
        top: -5px;
        transform: scale(1);
        opacity: 1;
        transition-duration: 0.1s;
    }

    & .nav__link {
        opacity: 0.6;
    }
}



.nav__link {
    display: block;
    color: #1B1C21;
    font-weight: 500;
    transition-duration: 0.2s;

    &:hover {
        opacity: 0.6;
    }
}





.footer {
    display: flex;
    row-gap: 40px;
    flex-direction: column;
    padding-bottom: 40px;
}


.footer__feedback {
    display: flex;
    flex-direction: column;
    width: 196px;
    row-gap: 16px;
}

.actions {
    display: flex;
    column-gap: 16px;
}

.footer__mail {
    font-family: 'TT Lakes';
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    font-weight: 500;
    color: #1B1C21;
}

.footer__tel {
    font-family: 'TT Lakes';
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    color: #1B1C21;
    letter-spacing: -0.6px;
}

.language {
    display: flex;
    column-gap: 7px;
}

.language__item {
    text-transform: uppercase;
    font-family: 'TT Lakes';
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    font-weight: 500;
    color: #1B1C21;

    transition-duration: 0.1s;

    &:hover {
        transform: scale(0.98);
        opacity: 0.6;
    }
}

.language__item--active {
    opacity: 0.6;
}